@page "/api/tracker/create"
@attribute [Authorize]
@inject HttpClient Http
@using GrooveHT.Shared.Models.Configuration;
@using GrooveHT.Shared.Models.Tracker
@using Microsoft.AspNetCore.Authorization;
@inject NavigationManager navigation

<h3>Daily Tracker</h3>

@if (errorMessage != null)
{
    <h5 class="text-danger">@errorMessage</h5>
}
<div class="container">
    <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label>Configuration</label>
        <InputSelect class="form-control" @bind-Value="model.ConfigurationId ">
            @foreach (var configuration in configurations)
            {
                <option value="@configuration.Id">@configuration.Name</option>
            }
        </InputSelect>

        <label class="form-check-label" for="flexCheckDefault">Task Completed</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        </div>

        <label>Daily Notes</label>
        <InputTextArea class="form-group" @bind-Value="model.Notes">
        </InputTextArea>
        <button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>

    </EditForm>
</div>

@code {
    private TrackerCreate model = new();
    private IEnumerable<ConfigurationListItem> configurations;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        configurations = await Http.GetFromJsonAsync<IEnumerable<ConfigurationListItem>>("/api/configuration/");
    }

    private async void HandleSubmit()
    {
        var createdRes = await Http.PostAsJsonAsync<TrackerCreate>("/api/tracker", model);
        if (createdRes.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/api/tracker");
        }
        else
        {
            errorMessage = "Could not create your tracker right now. Please try again later.";
        }
    }
}
