@page "/api/tracker/edit/{Id:int}"
@using GrooveHT.Shared.Models.Tracker
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation

<h3>TRACKER EDIT: Tracker @model.ConfigId</h3>
@if (errorMessage != null)
{
    <h5 class="text-danger">@errorMessage</h5>
}
<div class="container">
    <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label>Tracker</label>
        <InputSelect class="form-control" @bind-Value="model.ConfigId">
            @foreach (var tracker in trackers)
            {
                <option value="@tracker.Id">@tracker.ConfigId</option>
            }
        </InputSelect>
        <button type="submit" class="btn btn-primary btn-block mt-5"></button>

    </EditForm>
</div>
    


@code {
    private TrackerCreate model = new();
    private IEnumerable<TrackerListItem> trackers;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        trackers = await http.GetFromJsonAsync<IEnumerable<TrackerListItem>>("/api/tracker/");
    }

    private async void HandleSubmit()
    {
        var createdRes = await http.PostAsJsonAsync<TrackerCreate>("/api/tracker", model);
        if (createdRes.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/api/tracker");
        }
        else
        {
            errorMessage = "Could not create your tracker right now. Please try again later.";
        }
    }
}
